*{
    margin : 0;
	padding : 0;
}

body{
	font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}
nav{
	background : linear-gradient(60deg, #f40808,#19243a,#f40808);
	height : 80px;
	width : 100%;
	display : flex;
	align-items : center;
	justify-content : space-between;
	color : #ffffff;
	position : fixed;
	padding-right :25px;
	z-index : 1;
}
nav .nav_links{
    display : flex;
}

nav .icon_image{
    width : 75px;
	height : 75px;
    margin-left : 120px;	
}

nav .fa-bars{
	font-size : 2rem;
	padding-left :25px;
}

nav .nav_links a{
	font-size : 1.5rem;
	color : #ffffff;
	text-decoration : none;
	padding-left : 7.5px;
	padding-right : 7.5px;
}

nav .nav_links a:hover{
	color : #ffffff;
	text-decoration : none;
	background : none;
	box-shadow : 1px 1px 3px #3e3e3e;
    transition-property : box-shadow;
	transition-duration : 3s;
	transition-timing-function : linear;
}

/*****FIRST SECTION*****/

.first_section{
	width : 100%;
	height : 230vh;
	padding-top : 50px;
}

.first_section_content{
	width : 100%;
	height : 100%;
}

.first_section .first_section_flex{
	display : flex;
	width : 100%;
	height : 100%;
}
.first_section .first_section_left_flex{
	padding-top : 50px;
	width : 60%;
	background : #000000;
	position : relative;
}

.first_section .first_section_right_flex{
	width : 40%;
	background : #f3efff;
}

.first_section .barbing_images{
	width : 90%;
	margin-left : 60px;
	display : inline;
}

.first_section .barbing_image{
	width : 110px;
	height : 135px;
	border-radius : 100%;
}


.fa-plus, .fa-play{
	display : none;
	position : absolute;
	top : 45%;
	left : 45%;
}

.barbing_images_slide{
	display : none;
}
.first_section .image_container{
	position : relative;
	border-radius : 100%;
	display : inline;
	margin : 0 5px 0 5px;
	height : 500px;
	top : 10%;
	left : 30%;
	z-index : 5;
	visibility : hidden;
}


.seventh_big_image{
	position : absolute;
	width : 450px;
	height : 450px;
	top : 10%;
	left : 30%;
	z-index : 5;
	visibility : hidden;
}

.eight_big_image{
	position : absolute;
	height : 500px !important;
	top : 10%;
	left : 40%;
	z-index : 5;
	visibility : hidden;
}


.ninth_big_image{
	position : absolute;
	height : 500px !important;
	top : 10%;
	left : 30%;
	z-index : 5;
	visibility : hidden;
}


.tenth_big_image{
	position : absolute;
	height : 500px !important;
	top : 10%;
	left : 40%;
	z-index : 5;
	visibility : hidden;
}


.thirteenth_big_image{
	position : absolute;
	height : 500px !important;
	top : 10%;
	left : 40%;
	z-index : 5;
	visibility : hidden;
}
.fourteenth_big_image{
	position : absolute;
	height : 500px !important;
	top : 10%;
	left : 40%;
	z-index : 5;
	visibility : hidden;
}


#body_overlay .fa-times{
	position : absolute;
	top : 5%;
	right : 5%;
	color : #ffffff;
	font-size : 2rem;
	cursor : pointer;
}
